<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Add recipe</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/recetas/add}" th:object="${receta}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="nombre" class="col-form-label">Nombre</label> <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Nombre">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="preparacion" class="col-form-label">Preparación</label>
                                <textarea class="form-control" th:field="*{preparacion}" id="preparacion" rows="3" placeholder="Preparación"></textarea>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="dificultad" class="col-form-label">Dificultad</label>
                            	<select class="form-control" id="dificultad" th:field="*{dificultad}">
      							<option value="Fácil">Fácil</option>
      							<option value="Moderado">Moderado</option>
      							<option value="Difícil">Difícil</option>
    							</select>
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add recipe">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>